<app-menu></app-menu>
<div class="container-fluid p-o">
  <div class="row">
    <div class="col-12 jumbotron jumbotron-fluid color2">
      <div class="container ">
        <h1 class="display-4 stlh1">Conheça aqui o projeto Gaia</h1>
        <p class="lead">Um projeto de e-commerce com a ideia de trazer a dinâmica da ecologia para o cliente, e também
          oferecer créditos bônus para compras com nossos parceiros. </p>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-12 jumbotron jumbotron-fluid color2">
      <div class="container">
        <h3 class="display-4">Nosso time de desenvolvedores</h3>
        <!--Não consigo mudar o tamanho da fonte-->
      </div>
    </div>

    <div>
      <div class="row row-cols-1 row-cols-md-4">
        <!--Equipe prt1-->
        <div class="card">
          <div class="content">
            <div class="imgText">
              <div class="imgBx">
                <img src="https://cdn.discordapp.com/attachments/892048100582109274/892790660845953034/Doug.jpg">
              </div>
              <h3>Douglas Lopes<br><span>Gaia Project</span></h3>
            </div>
            <ul class="sci">
              <!--Fontes dos icones: https://fontawesome.com/v4.7/icons/ -->
              <li><a href="www.facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
              <li><a href="www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="www.linkedin.com"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>

        <!--Equipe prt2-->
        <div class="card">
          <div class="content">
            <div class="imgText">
              <div class="imgBx">
                <img src="https://cdn.discordapp.com/attachments/892048100582109274/892790664415297686/Ju.jpg">
              </div>
              <h3>Julianna Caravetto<br><span>Gaia Project</span></h3>
            </div>
            <ul class="sci">
              <!--Fontes dos icones: https://fontawesome.com/v4.7/icons/ -->
              <li><a href="www.facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
              <li><a href="www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="www.linkedin.com"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>

        <!--Equipe prt3-->
        <div class="card">
          <div class="content">
            <div class="imgText">
              <div class="imgBx">
                <img src="https://cdn.discordapp.com/attachments/892048100582109274/892790667485519902/Leo.jpg">
              </div>
              <h3>Leonardo Almeida<br><span>Gaia Project</span></h3>
            </div>
            <ul class="sci">
              <!--Fontes dos icones: https://fontawesome.com/v4.7/icons/ -->
              <li><a href="www.facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
              <li><a href="www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="www.linkedin.com"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>

        <!--Equipe prt4-->
        <div class="card">
          <div class="content">
            <div class="imgText">
              <div class="imgBx">
                <img src="https://cdn.discordapp.com/attachments/892048100582109274/892790670497046568/Tai.jpg">
              </div>
              <h3>Tainan Luz<br><span>Gaia Project</span></h3>
            </div>
            <ul class="sci">
              <!--Fontes dos icones: https://fontawesome.com/v4.7/icons/ -->
              <li><a href="www.facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
              <li><a href="www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="www.linkedin.com"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div><br><br></div>
<app-footer></app-footer>