.color2{
    background-image: url(https://cdn.discordapp.com/attachments/892048100582109274/894645545132519454/img3.jpg);
}
.container-fluid{
    background-color: #f7f7f7;
}
h5 {
    width: fit-content;
}