<div class="container-fluid p-o">
  <div class="row">
      <div class="col-12 jumbotron jumbotron-fluid bg-success color2">
          <div class="container ">
            <h1 class="display-4 text-warning ">Conheça aqui o projeto Gaia</h1>
            <p class="lead text-warning">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Veritatis quasi voluptates rerum! Voluptatibus beatae fugiat cum doloribus
                 dicta, modi quia quibusdam dolorem, iure distinctio perferendis nam optio temporibus sint dolores. </p>
           <p class="lead text-warning">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Veritatis quasi voluptates rerum! Voluptatibus beatae fugiat cum doloribus
                   dicta, modi quia quibusdam dolorem, iure distinctio perferendis nam optio temporibus sint dolores. </p>
          </div>
        </div>
  
  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h1 class="display-4 text-success">Nosso time de desenvolvedores</h1>
    </div>

  </div>
  <!-- <div class="row d-flex justify-content-center">
    <div class="col-12 jumbotron jumbotron-fluid bg-white ">
      <div class="container ">
        <h1 class="display-4 text-success ">Nosso time de desenvolvedores</h1>
    </div>
  </div> -->

  <div>
      <div class="row row-cols-1 row-cols-md-4">
          <div class="col mb-4">
            <div class="card border-light bg-transparent">
              <img src="https://cdn.discordapp.com/attachments/892048100582109274/892829487971061780/Doug4k_Circle.png" class="card-img-top" alt="...">
              <div class="card-body d-flex justify-content-center">
                <h4 class="card-title">Douglas</h4>
                
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card border-light bg-transparent">
              <img src="https://cdn.discordapp.com/attachments/892048100582109274/892795187502383155/Ju_circle.png" class="card-img-top" alt="...">
              <div class="card-body d-flex justify-content-center">
                <h4 class="card-title">Julianna</h4>
                
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card border-light bg-transparent">
              <img src="https://cdn.discordapp.com/attachments/892048100582109274/892795189603749928/Leo_circle.png" class="card-img-top" alt="...">
              <div class="card-body d-flex justify-content-center">
                <h4 class="card-title">Leonardo</h4>
                
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card border-light bg-transparent">
              <img src="https://cdn.discordapp.com/attachments/892048100582109274/892795193387008000/Tai_circle.png" class="card-img-top" alt="...">
              <div class="card-body d-flex justify-content-center">
                <h4 class="card-title">Tainan</h4>
               
              </div>
            </div>
          </div>
        </div>
  </div>
</div>