/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.tbolder {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.tbold {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: red;
}

.tnormal {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.tlight {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.tlighter {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

.mrButton{
    margin-right: 5px;
    margin-top: 5px;
}

.bg-geral{
    background-image: url('https://cdn.discordapp.com/attachments/892048100582109274/894645545132519454/img3.jpg');
}