/*Exemplo só pra não deixar em branco*/

body {
    background-color: rgb(126, 207, 187);
  }
  
  h1 {
    color: rgba(4, 3, 22, 0.856);
    text-align: center;
  }
  
  p {
    font-family: 'Poppins'; /*escolher fonte depois*/
    font-size: 20px;
  }

  .teste{
    margin-top: 70px;
  }