/*Exemplo só pra não deixar em branco*/

body {
    background-color: rgb(178, 238, 191);
  }
  
  h1 {
    color: rgba(4, 3, 22, 0.856);
    text-align: center;
  }
  
  p {
    font-family: 'Poppins'; /*escolher fonte depois*/
    font-size: 20px;
  }