<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-between align-items-center" id="navbarSupportedContent">

      <ul class="navbar-nav  d-flex align-items-center">
        <li class="nav-item mt-1">
          <a routerLink="/home">
            <img src="https://cdn.discordapp.com/attachments/892048100582109274/898737626750783498/logo_gaia.png"
              alt="Logo do site" width="200px" height="100px" class="img-fluid">
          </a>
        </li>
      </ul>

      <ul class="navbar-nav mb-2 d-flex align-items-center">

        <div>
          <button class="mr-3 btn bg-transparent tbold button1" routerLink="/home">HOME</button>
        </div>
        <div>
          <button class="mr-3 btn bg-transparent tbold button1" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">CATEGORIAS</button>
        </div>

        <div>
          <button class="mr-3 btn bg-transparent tbold button1 text-dark" routerLink="/aboutUs">SOBRE</button>
        </div>
        <div>
          <button class="mr-3 btn bg-transparent tbold button1" routerLink="/contact">CONTATO</button>
        </div>



        <div>
          <!-- data-bs-toggle="modal"
            data-bs-target="#login" -->
          <button class="mr-3 btn bg-transparent tbold btnuser button1" *ngIf="!isLogged" routerLink='/loginv2'>LOGIN</button>
          <button class="mr-3 btn bg-transparent tbold btnuser button1" *ngIf="isLogged"
            (click)="logout()" routerLink='/loginv2'>SAIR</button>
            <!-- data-bs-toggle="modal"
            data-bs-target="#cadastro" -->
          <button class="mr-3 btn bg-transparent tbold btnuser button1" *ngIf="!isLogged" routerLink='/cadastrov2'>CADASTRO</button>
        </div>

      </ul>

    </div>
  </div>
</nav>

<div class="modal fade" id="cadastro" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered form-create-account">
    <div class="modal-content ">
      <h1 class="modal-title mt-4 page-title mb-5 op">Criar Conta</h1>
      <div class="modal-body">
        <div class="row op">
          <div class=" col-12 col-md-6 ">
            <label for="nome">NOME</label>
            <input [(ngModel)]='usuario.nome' class="form-control" type="text" name="nome" id="nome" placeholder="">

          </div>

          <div class=" col-12 col-md-6">
            <label for="sobrenome">SOBRENOME</label>
            <input class="form-control" type="text" name="sobrenome" id="sobrenome" placeholder="">

          </div>

          <div class="lb input-create-account col-12 col-md-12 col-lg-6">
            <label for="floatingEmail">EMAIL</label>
            <input type="email" class="form-control" [(ngModel)]='usuario.email' id="floatingEmail" placeholder="">


          </div>

          <div class="form-group input-create-account password col-12 col-md-6 col-lg-3">
            <label class="lb" for="senha">SENHA</label>
            <input (input)='confirmarSenha($event)' class="form-control" type="password" name="senha" id="senha"
              placeholder="">

          </div>

          <div class="form-group input-create-account password col-12 col-md-6 col-lg-3">
            <label class="lb" for="confirmarSenha">REPETIR SENHA</label>
            <input [(ngModel)]='usuario.senha' class="form-control" type="password" name="confirmarSenha"
              id="confirmarSenha" placeholder="">
          </div>

          <div class="form-group col-md-4">
            <label class="lb" for="cpf">CPF</label>
            <input type="text" class="form-control" id="cpf" mask="000.000.000-00" aria-describedby="field-cpf" required
              placeholder="___.___.___-___">
          </div>

          <div class="form-group col-md-4">
            <label class="lb" for="cpf">TELEFONE</label>
            <input type="text" class="form-control" id="tel" aria-describedby="field-tel" placeholder="(__)_____-___">
          </div>

          <div class="form-group col-md-4">
            <label class="lb" for="cpf">DATA DE NASCIMENTO</label>
            <input type="date" class="form-control" id="date" aria-describedby="" placeholder="dd/mm/aaaa">
          </div>

          <fieldset class="form-group col-md-6">
            <label class="col-form-label col-12 p-0 mb-2 lb">GÊNERO</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="masculino" value="MALE">
              <label class="form-check-label" for="masculino">MASCULINO</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="feminino" value="FEMALE">
              <label class="form-check-label" for="feminino">FEMININO</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="outro" value="OUTRO">
              <label class="form-check-label" for="outro">OUTRO</label>
            </div>
          </fieldset>



        </div>

        <div class="modal-footer">
          <div class="col-md-6 text-right mt-3 d-flex bttn">
            <button type="submit" data-bs-dismiss="modal" class="btn btn-secondary btn-back-page mrButton "
              routerLink='/home'><i class="fas fa-arrow-left"></i></button>
            <button type="submit" data-bs-dismiss="modal" class="btn btn-primary btn-submit mrb"
              (click)='cadastrar()'>Criar Conta</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="login" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered form-create-account">
    <div class="modal-content ">
      <h1 class="modal-title mt-4 page-title mb-5 op">Login</h1>
      <div class="modal-body">
        <div class="row op d-flex justify-content-center">

          <div class="col-md-9">
            <div class="form-floating input-create-account">
              <input type="email" class="form-control" [(ngModel)]='usuarioLogin.email' id="floatingInput"
                placeholder=" ">
              <label for="floatingInput">EMAIL</label>
            </div>

            <div class="lb form-floating input-create-account">
              <input [(ngModel)]='usuarioLogin.senha' class="form-control" type="password" name="senha"
                id="floatingPassword" placeholder=" ">
              <label for="floatingPassword">SENHA</label>
            </div>


          </div>

        </div>



      </div>

      <div class="modal-footer">
        <div class="col-md-6 text-right mt-3 d-flex bttn">
          <button type="submit" data-bs-dismiss="modal" class="btn btn-secondary btn-back-page mrButton "
            routerLink='/home'><i class="fas fa-arrow-left"></i></button>
          <button type="submit" data-bs-dismiss="modal" class="btn mrButton btn-primary btn-submit mrb"
            data-bs-toggle="modal" data-bs-target="#cadastro">Criar Conta</button>
          <button type="submit" data-bs-dismiss="modal" class="btn btn-primary btn-submit mrb"
            (click)='login()'>Entrar</button>

        </div>
      </div>
    </div>
  </div>
</div>