.bg-none{
    background-color: none;
    opacity: 120%;
}

.bg-teste
{
background: rgb(63, 94, 251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.bg-teste.dark {
  background: rgb(16, 24, 24);
}

.bg{
    background-image: url(https://cdn.discordapp.com/attachments/892048100582109274/894645545132519454/img3.jpg);
}

.nav-link{
    font-size: 26px;
}

#teste:hover {
    background-color: #777;
}

.navbar{
    display: flex !important; 
    justify-content: center !important;
}

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.tbolder {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.tbold {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 26px;
}

.tbold.dark {
  color: rgb(193, 215, 213);
}

/* .btnuser{
    border: solid;
    border-color: rgb(221, 137, 73);
    border-radius: 20px;
    margin:5px;
} */


.btnuser.dark {
  color: rgb(109, 42, 34);
}

.button1:hover{
    background-color: transparent;
    color: rgb(226, 94, 17);
  }

.button1:hover.dark {
  color: rgb(160, 55, 44);
}

  @import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600&display=swap');

@font-face {
  font-family: 'Trueno-Round-Bold';
  src:url('../../assets/fonts/Trueno-Round-Bold.ttf.woff') format('woff'),
      url('../../assets/fonts/Trueno-Round-Bold.ttf.svg') format('svg'),
      url('../../assets/fonts/Trueno-Round-Bold.ttf.eot'),
      url('../../assets/fonts/Trueno-Round-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}
h1 { 
  font-family: 'Trueno-Round-Bold';
} 

label{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #2b2828c4;
  margin-left: 5px;
}

label.dark {
  color: rgb(193, 215, 213);
}

.lb{
  margin-top: 1.2em;
}

.container-create-account {
  padding: 16px;
  background-color: whitesmoke;
  font-size: 14px;
  color: #979797;
}

.container-create-account.dark {
  background-color: rgb(109, 42, 34);
  color: rgb(160, 55, 44);
}

.bttn{
  justify-content: end;
}

.form-create-account {
  max-width: 864px;
  margin: 0 auto;
  border-radius: 15px;
}

input {
  border-radius: 8px;
  background-color: #F4F8F7;
}


input.dark {
  background-color: rgb(16, 24, 24);
}


.bgimg{
  background-image: url('https://media.discordapp.net/attachments/892048100582109274/900117258897088542/photo-1447752875215-b2761acb3c5d.jpg?width=1014&height=676');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.icon-input {
  position: absolute;
  top: 41px;
  left: 23px;
}
.fa-arrow-left{
  font-size: 16px;
}

.mrb{
  margin-top: 5px;
}
.page-title {
  font-weight: 700;
  font-size: 45px;
  color: #3AADA5;
  text-align: center;
}

.page-title.dark {
  background-color: rgb(7, 32, 34);
}



.btn-input {
  position: absolute;
  color: #979797;
  border-radius: 50%;
  font-size: 16px;
  height: 20px;
  width: 20px;
  padding: 0;
  top: 38px;
  right: 20px;
}

.btn-input.dark {
  color: rgb(16, 24, 24);
}

.btn-back-page {
  border-radius: 50px;
  font-size: 16px;
  padding: 9px 13px;
}

.password input {
  padding-right: 25px;
}

.tamanho{
  display: grid;
  grid-template-rows: 40px 50px;
}

.imgProd{
  position: inherit;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 10%;
  margin-bottom: 15px;
}

.txt-total{
font-size: 23px;
}

@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container-create-account {
    padding: 32px 16px 80px;
  }

  .form-create-account {
    padding: 32px;
  }

  .btn-submit {
    width: 200px;
  }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
.btn-submit {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  width: calc(100% - 50px);
  border-radius: 20px;
  background-color: #429e68d5;
  border: #429E69;
  font-size: 16px;
  padding: 10px 6px;
  text-transform: uppercase;
  transition: 0.3s;
  color: #f7f7f7;
}


.btn-submit.dark-mode {
  background-color: rgb(7, 32, 34);
  border: rgb(16, 24, 24);
}

.btn-submit:hover{
  background-color:#429E69;
}

.btn-submit:hover.dark-mode {
  background-color: rgb(16, 24, 24);
  border: rgb(7, 32, 34);
}

.uil{
  font-size: 35px;
  padding-right: 5px;
}

.uil-signout{
  font-size: 35px;
}

.jsc{
  justify-self: center;
}

.jse{
  justify-self: end;
}