<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <div class="container-fluid">
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse d-flex justify-content-between align-items-center" id="navbarSupportedContent">
  
        <ul class="navbar-nav  d-flex align-items-center">
          <li class="nav-item mt-1">
            <img src="https://cdn.discordapp.com/attachments/892048100582109274/895042203322306660/Logo.png" alt="Logo do site" width="150px" height="50px" class="img-fluid">
          </li>
        </ul>
  
  
  
  
        <ul class="navbar-nav mb-2 d-flex align-items-center">
          <div>
            <button class="mr-3 btn bg-transparent tbold">HOME</button>
          </div>
          <div>
            <button class="mr-3 btn bg-transparent tbold">SOBRE</button>
          </div>
          <div>
            <button class="mr-3 btn bg-transparent tbold">PRODUTOS</button>
          </div>
          <div>
            <button class="mr-3 btn bg-transparent tbold">CONTATO</button>
          </div>
          <div>
            <button class="mr-3 btn bg-transparent tbold btnuser">LOGIN</button>
          </div>
          <div>
            <button class="mr-3 btn bg-transparent tbold btnuser">CADASTRO</button>
          </div>
        </ul>
  
      </div>
    </div>
  </nav>