<footer class="color">
    <div class="row">
 <!-- <div class="col-md-12 d-flex justify-content-center">

            <a href="www.facebook.com" target="_blank" class="mr-5">
                <img class="tm-social" src="assets/imgs/facebook.png" alt="Logo do Facebook">
            </a>
            <a href="www.linkedin.com" target="_blank" class="mr-5">
                <img class="tm-social" src="assets/imgs/linkedin.png" alt="Logo do LinkedIn">
            </a>
            <a href="www.instagram.com" target="_blank" class="mr-5">
                <img class="tm-social" src="assets/imgs/instagram.png" alt="Logo do Instagram">
            </a> 
        </div>
        Não tá funcionando o copyright, peguei o símbolo da internet (- doug kkkk )-->
        <div class="container-fluid pl-5">
            <div class=" row d-flex justify-content-center">
                <div class=" col-3 center2">
                    <p class="tbold p-2">
                        POLÍTICA DE PRIVACIDADE
                    </p>
                </div>

                <div class="col-2 center2">
                    <p class="tbold p-2">
                        TERMOS DE USO
                    </p>
                </div>
                <div class="col-3">
                        <div class="d-flex justify-content-center center">

                            <a href="www.facebook.com" target="_blank" class="mr-5">
                                <img class="tm-social" src="https://cdn.discordapp.com/attachments/892048100582109274/892048228915216384/facebook.png" alt="Logo do Facebook">
                            </a>
                            <a href="www.linkedin.com" target="_blank" class="mr-5">
                                <img class="tm-social" src="https://cdn.discordapp.com/attachments/892048100582109274/892048295206203402/linkedin.png" alt="Logo do LinkedIn">
                            </a>
                            <a href="www.instagram.com" target="_blank" class="mr-5">
                                <img class="tm-social" src="https://cdn.discordapp.com/attachments/892048100582109274/892048233713528853/instagram.png" alt="Logo do Instagram">
                            </a> 
                        </div>     
                </div>
                <div class="col-4 center2">
                    <p class="tbold p-2">
                        TODOS OS DIREITOS RESERVADOS:
                        GAIA ©
                    </p>
                </div>
                
            </div>
        </div>

    </div>

</footer>