<footer class="footer ">
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
    <div class="d-flex justify-content-center center">

        <a href="www.facebook.com" target="_blank" class="">
            <img class="tm-social"
                src="https://cdn.discordapp.com/attachments/892048100582109274/892048228915216384/facebook.png"
                alt="Logo do Facebook">
        </a>
        <a href="www.linkedin.com" target="_blank" class="">
            <img class="tm-social"
                src="https://cdn.discordapp.com/attachments/892048100582109274/892048295206203402/linkedin.png"
                alt="Logo do LinkedIn">
        </a>
        <a href="www.instagram.com" target="_blank" class="">
            <img class="tm-social"
                src="https://cdn.discordapp.com/attachments/892048100582109274/892048233713528853/instagram.png"
                alt="Logo do Instagram">
        </a>
    </div>
    <ul class="menu">
    </ul>
    <p>&copy; TODOS OS DIREITOS RESERVADOS:
        GAIA</p>
    <!--Alterar aqui-->
</footer>