.color{
    /* background-color: rgb(242, 120, 11); */
    background: linear-gradient(rgba(216, 107, 11, 0.616),rgb(129, 57, 8));
    /* background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%) */
}

.tm-social {
    width: 50px;
    height: 50px;
    margin-right: 15px; 
}

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.tbolder {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.tbold {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 20px;
}
.center {
    margin: auto;
    width: 100%;
    padding: 20px;
  }
  .center2 {
    text-align: center;
    padding: 5px;
  }
