<footer class="color">
    <div class="row">
        <!-- <div class="col-md-12 d-flex justify-content-center">

            <a href="www.facebook.com" target="_blank" class="mr-5">
                <img class="tm-social" src="assets/imgs/facebook.png" alt="Logo do Facebook">
            </a>
            <a href="www.linkedin.com" target="_blank" class="mr-5">
                <img class="tm-social" src="assets/imgs/linkedin.png" alt="Logo do LinkedIn">
            </a>
            <a href="www.instagram.com" target="_blank" class="mr-5">
                <img class="tm-social" src="assets/imgs/instagram.png" alt="Logo do Instagram">
            </a> 
        </div>
        Não tá funcionando o copyright, peguei o símbolo da internet (- doug kkkk )-->
        <div class="container-fluid pl-5    ">
            <div class=" row d-flex justify-content-center">
                <div class=" col-3">
                    <p class="tbold p-2">
                        POLÍTICA DE PRIVACIDADE
                    </p>
                </div>

                <div class="col-2">
                    <p class="tbold p-2">
                        TERMOS DE USO
                    </p>
                </div>
                <div class="col-3">
                    <p class="tbold p-2">
                        COLOCAR AQUI OS ICONES DA TAI
                    </p>
                </div>
                <div class="col-4">
                    <p class="tbold p-2">
                        TODOS OS DIREITOS RESERVADOS: GAIA ©
                    </p>
                </div>
                
            </div>
        </div>

    </div>

</footer>