.fundo{
    background-image: url('https://media.discordapp.net/attachments/892048100582109274/899452754936868944/backgroung.jpg?width=288&height=675');
}

.quebra{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.imgProd{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 10%;
    margin-bottom: 15px;
}

.EndButton{
    align-content: center; /*Alinhando o botão de preço*/
    justify-content: center;
}

.EndButton{
    align-content: center; /*Alinhando o botão de preço*/
    justify-content: center;
}

.btn{ /*Cores para o botão*/
    transition: 0.5s;
}

.btn:hover{ /*hover para o botão*/
    background: rgb(10, 66, 73);
    color: rgb(233, 239, 241);
}

.btn:hover.dark {
    background: 0px -15px 3em rgb(7, 32, 34);
}

.p .card-text{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.edit{
    background:rgb(red)!important ; 
}

.edit.dark {
    color: 0px -15px 3em rgb(160, 55, 44);
}

.card{ /*Produtos individualmente*/
    background: rgba(233, 205, 163, 0.733);
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    align-content: center; /*alinhando os cards*/
    justify-content: center;
    margin: 15px; /*Margem para não colar os cards internos no card que os contém*/
    transition: 0.5s;
}

.card.dark {
    background: rgb(109, 42, 34);
    box-shadow: 0 15px 25px rgb(195, 142, 111);
}

.card:hover{ /*Produtos individualmente*/
    background: rgba(233, 197, 163, 0.897);
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    align-content: center; /*alinhando os cards*/
    justify-content: center;
    margin: 15px; /*Margem para não colar os cards internos no card que os contém*/
}

.card.dark:hover {
    background: rgba(109, 42, 34, 0.733);
}

.tdTamanho{
    height: inherit;
}