label, legend {
    color: #2b2828;
  }
  
  .container-create-account {
    padding: 16px;
    background-color: whitesmoke;
    font-size: 14px;
    color: #979797;
  }
  
  .form-create-account {
    background-color: #fff;
    padding: 16px;
    max-width: 864px;
    margin: 0 auto;
  }
  
  input {
    border-radius: 0;
  }
  
  .input-create-account {
    position: relative;
  }
  
  .input-create-account input {
    padding-left: 30px;
  }
  
  .icon-input {
    position: absolute;
    top: 41px;
    left: 23px;
  }
  
  .page-title {
    font-weight: 700;
    font-size: 22px;
    color: #2b2828;
  }
  
  legend, label, h1 {
    text-transform: uppercase;
  }
  
  .btn-submit {
    width: calc(100% - 50px);
    border-radius: 0;
    background-color: #F37135;
    border: #F37135;
    font-size: 14px;
    padding: 10px 6px;
    text-transform: uppercase;
  }
  
  .btn-input {
    position: absolute;
    color: #979797;
    border-radius: 50%;
    font-size: 12px;
    height: 20px;
    width: 20px;
    padding: 0;
    top: 38px;
    right: 20px;
  }
  
  .btn-back-page {
    border-radius: 0;
    font-size: 14px;
    padding: 9px 13px;
  }
  
  .password input {
    padding-right: 25px;
  }
  
  @media (min-width: 576px) {
  
  }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .container-create-account {
      padding: 32px 16px 80px;
    }
  
    .form-create-account {
      padding: 32px;
    }
  
    .btn-submit {
      width: 200px;
    }
  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
  
  }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
  
  }
  