<div class="container-fluid pt-5 bg-geral">
    <!-- <app-menu></app-menu> -->
    <div class="container pt-2 pb-2 mb-5 bg-light">
        <div class="row">
            <div class="pt-2 pb-2 col-md-12">
                <h1 class="text-center tbold">Adicionar Categoria</h1>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-6">

                <div class="form-group form-floating">
                    <input type="text" class="form-control" id="nomeDaCategoria"
                        [(ngModel)]='categorias.nomeDaCategoria' placeholder=" ">
                    <label for="nomeDaCategoria" class="tbold adc_cat">Nome da categoria</label>
                </div>

                <div class="form-group form-floating mt-2">
                    <input type="text" class="form-control" id="descricao" [(ngModel)]='categorias.descricaoDaCategoria'
                        placeholder=" ">
                    <label for="descricao" class="tbold adc_cat">Descrição da categoria</label>
                </div>

                <div class="d-flex justify-content-center mt-3 pb-3">
                    <button class="btn btn-danger me-2 mrButton tbold" routerLink="/home">Cancelar</button>
                    <button class="btn btn-success ms-2 mrButton tbold"
                        (click)='AdicionarCategoria()' routerLink="/AdicionarCategoria">Adicionar</button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row mt-3 mb-5 d-flex justify-content-center ">
            <div class="col-md-8 bg-light">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="tbold">Nome da categoria</th>
                            <th scope="col" class="tbold text-right">Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let categorias of listaCategorias'>
                            <td>
                                <p class="tnormal">{{categorias.nomeDaCategoria}}</p>
                            </td>
                            <td>
                                <p class="tnormal">{{categorias.descricaoDaCategoria}}</p>
                            </td>
                            <td class="d-flex justify-content-end">
                                <button class="btn btn__edit me-1"
                                    [routerLink]="['/categoria-put', categorias.idCategoria]"><i
                                        class="uil uil-edit"></i></button>
                                <button class="btn btn__delete ms-1"
                                    [routerLink]="['/categoria-delete', categorias.idCategoria]"><i
                                        class="uil uil-trash-alt"></i></button>
                            </td>
                        </tr>
                        <tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="container mt-5 mb-5 bg-light">
            <div class="row d-flex justify-content-center ">
                <div class="col-md-6 ">
                    <h1 class="text-center tbold">Adicionar Produtos</h1>

                    <div class="form-group form-floating mt-2">
                        <input type="text" class="form-control" id="nomeDoProduto" [(ngModel)]='produtos.nome'
                            placeholder=" ">
                        <label for="nomeDoProduto" class="tbold adc_cat">Nome do produto</label>
                    </div>

                    <div class="form-group form-floating mt-2">
                        <input type="text" class="form-control" id="descricao" [(ngModel)]='produtos.descricao'
                            placeholder=" ">
                        <label for="descricao" class="tbold adc_cat">Descrição do produto</label>
                    </div>

                    <div class="form-group form-floating mt-2">
                        <input type="text" class="form-control" id="marca" [(ngModel)]='produtos.marca' placeholder=" ">
                        <label for="marca" class="tbold adc_cat">Marca do produto</label>
                    </div>

                    <div class="form-group form-floating mt-2">
                        <input type="text" class="form-control" id="preco" [(ngModel)]='produtos.preco' placeholder=" ">
                        <label for="preco" class="tbold adc_cat">Preço do produto</label>
                    </div>

                    <div class="form-group form-floating mt-2">
                        <input type="text" class="form-control" id="link" [(ngModel)]='produtos.link' placeholder=" ">
                        <label for="link" class="tbold adc_cat">Imagem do produto</label>
                    </div>

                    <div class="form-group form-floating mt-2">
                        <select name="categ" id="tema" class="form-control" [(ngModel)]='idCategoria'
                            (change)='findByIdCategoria()' placeholder=" ">
                            <option *ngFor="let categoria of listaCategorias" value="{{categoria.idCategoria}}">
                                {{categoria.nomeDaCategoria}}</option>
                        </select>
                        <label for="tema" class="tbold adc_cat">Escolha a categoria do produto</label>
                    </div>

                    <div class="d-flex justify-content-center mt-3 pb-3">
                        <button class="btn btn-danger tbold mrButton" routerLink="/home">Cancelar</button>
                        <button class="btn btn-success tbold mrButton" (click)='AdicionarProduto()' routerLink="/AdicionarCategoria">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="mt-3 mb-5">
                <div class="cards quebra">
                    <div class="card mt-5 mb-5 ms-2 me-2" style="width: 300px;" *ngFor='let produtos of listaProdutos'>
                        <div class="card-body text-center">
                            <div>
                                <!--Classe imgProd faz as definições da imagem-->
                                <img src="{{produtos.link}}" alt="{{produtos.nome}}" class="imgProd">
                            </div>

                            <div class="tamanho">
                                <div class="col-md-12">
                                    <h5 class="card-title mt-3 tbold">{{produtos.nome}}</h5>
                                    <!--Não consegui alinhar o texto da composteira-->
                                    <!-- <p class="card-text mt-2 tbold">{{produtos.idProduto}}</p> -->
                                    <p class="card-text mt-0 mb-0 tnormal card__categ">
                                        {{produtos.categoriaRelacionada.nomeDaCategoria}}</p>
                                    <p class="card-text mt-2 tlight card__desc">{{produtos.descricao}}</p>
                                </div>
                            </div>
    
                            
    
                            <div class="EndButton col-12 d-flex mt-10 hh">
                                <div class="d-flex btn btn__preco prec mt-0 EndButton" 
                                    routerLink="/{{produtos.nome}}">
                                    {{(produtos.preco*0.7).toFixed(2) | currency}}
                                    <div class="desc btn mb-0 prec">
                                        <sup><del>{{produtos.preco | currency}}</del></sup>
                                    </div>
                                </div>
    
                                <!-- <p class="d-flex justify-content-center btn btn-success"
                                    (click)='adicionarCarrinho(produtos.idProduto, 1)' routerLink="/{{produtos.nome}}">
                                    {{(produtos.preco*0.7).toFixed(2) | currency}} </p> -->
    
                            </div>
                            <!-- <div class="tamanho">
                                <div class="col-md-12">
                                    <h5 class="card-title mt-3">{{produtos.nome}}</h5>
                                    <p class="card-text mt-2">{{produtos.descricao}}</p>
                                </div>
                            </div>
                            <div class="EndButton d-flex mt-10">
                                <p class="d-flex justify-content-center mt-3 btn btn-success w-50 h-50"
                                    routerLink="/{{produtos.nome}}"> R$ {{produtos.preco}}</p>
                            </div> -->

                            <div class="justify-content-flex-center">
                                <button class="btn btn__edit2 mt-3 me-2 edit"
                                    [routerLink]="['/produtos-put', produtos.idProduto]"><i
                                        class="uil uil-edit"></i></button>

                                <button class="btn btn__delete2 mt-3 ms-2"
                                    [routerLink]="['/produtos-delete', produtos.idProduto]"><i
                                        class="uil uil-trash-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>