<div class="bg-geral container-fluid  p-0">
    <app-menu></app-menu>

    <!--Off Canvas-->
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
        id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">

        <div class="offcanvas-header mb-2">
            <div class="faixa ">
                <i class="d-flex justify-content-center align-items-center">
                    <h5 class="offcanvas-title titulo__categ" id="offcanvasScrollingLabel">Categorias de produtos:</h5>
                </i>
            </div>

            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body mt-2">
            <div>
                <div class="row mt-3 mb-5 d-flex justify-content-center">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <tbody>
                                <!-- <i class="uil uil-sanitizer"></i> -->
                                <tr *ngFor='let categorias of listaCategorias'>
                                    <a class="btn w-100 text-start" routerLink="/{{categorias.nomeDaCategoria}}">
                                        <td class="btn categ text-start">{{categorias.nomeDaCategoria}}</td>
                                    </a>
                                </tr>
                                <!-- <tr> -->
                            </tbody>
                        </table>
                    </div>
                    <div class="mt-20 d-flex justify-content-center">
                        <p class="btn btn__config" *ngIf="isLogged" routerLink="/adicionarCategoria">Configurações</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Off Canvas-->

    
    <div class="row d-flex justify-content-center mt-4">

        <div class="col-md-10 col-lg-9 bg-teste pt-2">


            <!--Carrosel-->
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="5000">
                        <a routerLink="/home"><img
                                src="https://cdn.discordapp.com/attachments/892048100582109274/899039509654691900/Banner2.jpg"
                                class="d-block esticar" alt="..."></a>

                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="https://cdn.discordapp.com/attachments/892048100582109274/899029701232832512/Banner.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!--Carrosel-->

            <!--Ofertas!!!-->
            <div class="cards quebra d-flex justify-content-center">
                <div class="card mt-5 mb-5 ms-2 me-2" style="width: 300px;" *ngFor='let produtos of listaProdutos'>
                    <div class="card-body text-center d-flex flex-wrap justify-content-center">

                        <div >
                            <!--Classe imgProd faz as definições da imagem-->
                            <a routerLink="/produto/{{produtos.idProduto}}"><img src="{{produtos.link}}"
                                    alt="{{produtos.nome}}" class="imgProd"></a>
                        </div>

                        <div class="tamanho w-100">
                            <div class="col-md-12">
                                <h5 class="card-title mt-3 tbold">{{produtos.nome}}</h5>
                                <!--Não consegui alinhar o texto da composteira-->
                                <!-- <p class="card-text mt-2 tbold">{{produtos.idProduto}}</p> -->
                                <p class="card-text mt-0 mb-0 tnormal card__categ">
                                    {{produtos.categoriaRelacionada.nomeDaCategoria}}</p>
                                <!-- <p class="card-text mt-2 tlight card__desc">{{produtos.descricao}}</p> -->
                            </div>
                        </div>



                        <div class="EndButton col-12 d-flex hh">
                            <div class="d-flex btn btn__preco prec mt-0 EndButton" routerLink="/{{produtos.nome}}">
                                {{(produtos.preco*0.7).toFixed(2) | currency}}
                                <div class="desc btn mb-0 prec">
                                    <sup><del>{{produtos.preco | currency}}</del></sup>
                                </div>
                            </div>

                            <!-- <p class="d-flex justify-content-center btn btn-success"
                                (click)='adicionarCarrinho(produtos.idProduto, 1)' routerLink="/{{produtos.nome}}">
                                {{(produtos.preco*0.7).toFixed(2) | currency}} </p> -->

                        </div>

                        <!-- <p (click)='removerProduto(produtos.idProduto, 1)' class="btn btn-danger">Remover carrinho</p> -->

                        <!-- <div class="EndButton d-flex mt-10">
                            <p class="d-flex justify-content-center btn btn-success w-50 h-50"
                                routerLink="/{{produtos.nome}}"> R$ {{produtos.preco}}</p>

                        </div> -->

                    </div>
                    <div class="add__cart p-3 btn" (click)='adicionarCarrinho(produtos, 1)'>Adicionar no Carrinho</div>
                </div>
            </div>
            <!--Ofertas!!!-->

            <!--Recurso de navegação entre pag's
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center p-md-3">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Anterior</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Próxima</a>
                    </li>
                </ul>
            </nav>
            -->
        </div>
    </div>
    <app-footer></app-footer>
</div>


<div class="modal fade" id="carrinho" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered form-create-account">
        <div class="modal-content ">
            <h1 class="modal-title mt-4 page-title mb-5 op">Login</h1>
            <div class="modal-body">
                <div class="row op d-flex justify-content-center">



                </div>
            </div>

            <div class="modal-footer">
                <div class="col-md-6 text-right mt-3 d-flex bttn">
                    <button type="submit" data-bs-dismiss="modal" class="btn btn-secondary btn-back-page mrButton "
                        routerLink='/home'><i class="fas fa-arrow-left"></i></button>
                    <button type="submit" data-bs-dismiss="modal" class="btn mrButton btn-primary btn-submit mrb"
                        data-bs-toggle="modal" data-bs-target="#cadastro">Criar Conta</button>
                    <button type="submit" data-bs-dismiss="modal" class="btn btn-primary btn-submit mrb">Entrar</button>

                </div>
            </div>
        </div>
    </div>
</div>