<div id="geral">
    <div class="container">
        <div id="carrinho">
            <div>
                <h2>Meu Carrinho</h2>
            </div>
            <div id="lista-detalhes">
                <div id="lista-carrinho" >
                        <div class="produto-carrinho" id="titulo">
                            <div></div>
                            <div>Item</div>
                            <div>Preço</div>
                            <div>Quantidade</div>
                            <div>Subtotal</div>
                            <div></div>
                        </div>                
                </div>
                <div id="finalizacao-compra">
                    <div id="tela-total">
                        <div id="valor-total">
                            <span id="texto-total">Total</span>
                            <span id="total">R$ </span>
                        </div>      
                        <div id="comprar-mais">
                            <a href="index.html">Comprar mais produtos</a>
                        </div>                      
                        <div onclick='finalizar();' id="confirmar-compra">
                            <a href="index.html">Finalizar Pedido</a>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>
<footer>
<div id="rodape">
    <span>&#169; 2019-2019 - Instituto Federal de São Paulo</span>
    <small>Rua Pedro Vicente, nº 625 - Canindé - São Paulo - SP - CEP: 01109-010</small>
</div>