
<footer class="color">
    <hr>
    <div class="row mt-0">
        <div class="col-md-12 d-flex justify-content-center">
            <!--Colocar a src das imagens-->
            <a href="www.facebook.com" target="_blank" class="mr-5">
                <img class="tm-social" src="assets/imgs/facebook.png" alt="Logo do Facebook">
            </a>
            <a href="www.linkedin.com" target="_blank" class="mr-5">
                <img class="tm-social" src="assets/imgs/linkedin.png" alt="Logo do LinkedIn">
            </a>
            <a href="www.instagram.com" target="_blank" class="mr-5">
                <img class="tm-social" src="assets/imgs/instagram.png" alt="Logo do Instagram">
            </a>
        </div>
        <!--Não tá funcionando o copyright, peguei o símbolo da internet (- doug kkkk )-->
        <div class="container">
            <div class="col-md-12 d-flex justify-content-center">
                <p class="colortext p-2">
                    Todos os direitos reservados: GaiaECOmmerce ©
                </p>
            </div>
        </div>

    </div>
</footer>
