.tm-social{
    width: 50px;
    height: 50px;
}

.bg-teste{
    border-radius: 15px;
    box-shadow: 0px -15px 3em rgb(0, 0, 0);
}

.color-white{
    color: white;
}

.esticar{
    height: 100%;
    width: 100%;
}

.hh{
    height: fit-content+10px;
}
#desc{
    text-decoration: none;
    cursor: default !important;
}
#desc:hover{
    color:#fff !important;
}

.cards{ /*Parte onde contém os produtos*/
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    align-content: center; /*alinhando os cards*/
    justify-content: space-between; /*alinhando os cards - deixa justificado no card que eles estão*/
}

.card{ /*Produtos individualmente*/
    background: rgba(233, 205, 163, 0.733);
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    align-content: center; /*alinhando os cards*/
    justify-content: center;
    margin: 15px; /*Margem para não colar os cards internos no card que os contém*/
    transition: 0.5s;
}

.card:hover{ /*Produtos individualmente*/
    background: rgba(233, 197, 163, 0.897);
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    align-content: center; /*alinhando os cards*/
    justify-content: center;
    margin: 15px; /*Margem para não colar os cards internos no card que os contém*/
}

.space-between{
align-content: space-between;
}

.EndButton{
    align-content: center; /*Alinhando o botão de preço*/
    justify-content: center;
}

.btn{ /*Cores para o botão*/
    transition: 0.5s;
    width: inherit;
}

.btn:hover{ /*hover para o botão*/
    color: rgb(10, 66, 73);
}
.tamanho{
    display: grid;
    grid-template-rows: 40px 100px;
}

.imgProd{
    width: 200px;
    height: 200px;
    border-radius: 10%;
}

.p .card-text{ /*Não consegui alinhar o texto no card da composteira*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}


.quebra{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tbold{
    font-weight: bold;
    text-decoration: underline;
    color: black;
}